*{
    align-items: center;
    align-content: center;
}
a{
    color: black;
    background-color: white;
    margin-left: 20px;
}
img{
    height: 400px;
    width: 400px;
    margin-left: 35%;
    border:10px solid red;
    padding: 4px;
}
h1{
    margin-left: 25%;
    background-color: aqua;
    margin-right: 25%;
    padding-left: 11%;
}
h2{
    text-align: center;
    color: blue;
    
}
p{
    text-align: center;
}